*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* This defines what 1rem is */
  font-size: 62.5%; /* 1 rem = 10px; 10px/16px = 62.5% */
}

body {
  font-family: "Outfit";
  font-weight: 400;
  width: 100vw;
  max-width: 100vw;
  background-color: hsl(212, 45%, 89%);
  height: 100vh;
  padding-top: 10rem;
}

.card {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 22rem;
  padding: 1rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 1rem;
}

.card img {
  height: auto;
  border-radius: 1rem;
}

.card span {
  text-align: center;
  display: block;
  font-weight: 700;
  font-size: 1.6rem;
  margin: 1.2rem 0.2rem;
}
.card span span {
  margin: 1.2rem 0.2rem;
  text-align: center;
  display: block;
  font-weight: 400;
  font-size: 1.1rem;
  color: hsl(218, 44%, 22%);
}
